{% extends 'base.html.twig' %}

{% block title %}Avis index{% endblock %}

{% block body %}
    <h1>Avis index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Commentaire</th>
                <th>Note</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for avi in avis %}
            <tr>
                <td>{{ avi.id }}</td>
                <td>{{ avi.commentaire }}</td>
                <td>{{ avi.note }}</td>
                <td>
                    <a href="{{ path('app_avis_show', {'id': avi.id}) }}">show</a>
                    <a href="{{ path('app_avis_edit', {'id': avi.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    
    {# Vérifiez si articleId est disponible #}
    {% if articleId is defined %}
        <a href="{{ path('app_avis_new', {'articleId': articleId}) }}">Add new review</a>
    {% else %}
        {# Gérer le cas où articleId est manquant #}
        <p>Unable to generate URL for new review. Missing articleId.</p>
    {% endif %}

{% endblock %}

{% block exception %}
    {% if exception is defined %}
        <h2>Exception Properties:</h2>
        <pre>{{ dump(exception) }}</pre>
    {% endif %}
{% endblock %}
