<!DOCTYPE html>

<!--
 // WEBSITE: https://themefisher.com
 // TWITTER: https://twitter.com/themefisher
 // FACEBOOK: https://www.facebook.com/themefisher
 // GITHUB: https://github.com/themefisher/
-->

<html lang="en">
<head>

  <!-- Basic Page Needs
  ================================================== -->
  <meta charset="utf-8">
  <title>Airspace | Creative Agency Bootstrap Template</title>

  <!-- Mobile Specific Metas
  ================================================== -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="Creative Agency Bootstrap Template">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0">
  <meta name="author" content="Themefisher">
  <meta name="generator" content="Themefisher Airspace Template v1.0">
  <!-- Favicon -->
  <link rel="shortcut icon" type="image/x-icon" href={{asset("images/favicon.png")}} />


  <!-- bootstrap.min css -->
  <link rel="stylesheet" href={{asset("plugins/bootstrap/bootstrap.min.css")}}>
  <!-- Ionic Icon Css -->
  <link rel="stylesheet" href={{asset("plugins/Ionicons/css/ionicons.min.css")}}>
  <!-- animate.css -->
  <link rel="stylesheet" href={{asset("plugins/animate-css/animate.css")}}>
  <!-- Magnify Popup -->
  <link rel="stylesheet" href={{asset("plugins/magnific-popup/magnific-popup.css")}}>
  <!-- Slick CSS -->
  <link rel="stylesheet" href={{asset("plugins/slick/slick.css")}}>
  
  <!-- Main Stylesheet -->
  <link rel="stylesheet" href={{asset("css/style.css")}}>

</head>

<body id="body">

<!-- Header Start -->
<header class="navigation">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<nav class="navbar navbar-expand-lg p-0">
					<a class="navbar-brand" href="{{path('app_index')}}">
						<img src={{asset("images/logo.png")}} alt="Logo">
					</a>

					<button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarsExample09" aria-controls="navbarsExample09" aria-expanded="false" aria-label="Toggle navigation">
						<span class="ion-android-menu"></span>
					</button>

					<div class="collapse navbar-collapse ml-auto" id="navbarsExample09">
						<ul class="navbar-nav ml-auto">
							<li class="nav-item @@home">
								<a class="nav-link" href="{{path('app_index')}}">Home</a>
							</li>
							<li class="nav-item dropdown @@portfolio">
								<a class="nav-link dropdown-toggle" href="#" id="dropdown03" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Article<span class="ion-ios-arrow-down"></span></a>
								<ul class="dropdown-menu" aria-labelledby="dropdown03">
									<li><a class="dropdown-item @@portfolioFilter" href="{{path('app_article_index')}}">Article</a></li>

									<li class="dropdown dropdown-submenu dropright">
										<a class="dropdown-item dropdown-toggle" href="#!" id="dropdown0301" role="button"
											data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Sub Menu</a>

										<ul class="dropdown-menu" aria-labelledby="dropdown0301">
											<li><a class="dropdown-item" href="{{path('app_categorie_index')}}">Categorie</a></li>
											<li><a class="dropdown-item" href="{{path('app_utilisateur_new')}}">Utilisateur</a></li>
										</ul>
									</li>
								</ul>
							</li>
							<li class="nav-item @@service"><a class="nav-link" href="{{path('app_projets')}}">Projet</a></li>
              <li class="nav-item @@admin"><a class="nav-link" href="{{path('app_login')}}">Admin login</a></li>
							<li class="nav-item active"><a class="nav-link" href="contact.html">Contact</a></li>
						</ul>
					</div>
				</nav>
			</div>
		</div>
	</div>
</header><!-- header close -->
    <style>
        body {
            margin: 0;
            padding: 0;
        }
        .article {
            max-width: 800px;
            margin: 0 auto;
            padding: 20px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            margin-top: 20px;
        }
        .article img {
            max-width: 100%;
            display: block;
            margin: 0 auto;
        }
        .article h2 {
            font-size: 24px;
            margin-top: 20px;
        }
        .article p {
            line-height: 1.6;
            margin-top: 10px;
        }
        .date {
            font-style: italic;
            margin-top: 10px;
        }
        .note {
            margin-top: 10px;
            font-size: 18px;
        }
        .login-form {
            max-width: 400px;
            margin: 0 auto;
            padding: 20px;
            border: 1px solid #ccc;
            border-radius: 5px;
            margin-top: 50px;
        }
        .login-form h2 {
            text-align: center;
            margin-bottom: 20px;
        }
    </style>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <!-- Liste des articles -->
            {% block title %}Article index{% endblock %}

            {% block body %}
                <h1>Article index</h1>

                {% if articles is not empty %}
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Titre</th>
                                <th>Contenu</th>
                                <th>Date</th>
                                <th>Note</th>
                                <th>Image</th>
                                <th>Actions</th>
                                <th>Add Review</th>
                                <th>Show Reviews</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for article in articles %}
                                <tr>
                                    <td>{{ article.id }}</td>
                                    <td>{{ article.titre }}</td>
                                    <td>{{ article.contenu }}</td>
                                    <td>{{ article.date ? article.date|date('Y-m-d H:i:s') : '' }}</td>
                                    <td>{{ article.note }}</td>
                                    <td><img src="{{ article.image }}" alt="Description de l'image"></td>
                                    <td>
                                        <a href="{{ path('app_article_show', {'id': article.id}) }}">show</a>
                                        {% if is_granted('POST_EDIT', article) %}
                                            <a href="{{ path('app_article_edit', {'id': article.id}) }}">edit</a>
                                        {% endif %}
                                    </td>
                                    <td>
                                        <a href="{{ path('app_avis_new', {'articleId': article.id}) }}">Add Review</a>
                                    </td>
                                    <td>
                                        <a href="{{ path('app_avis_article_show', {'id': article.id}) }}">Show Reviews</a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <p>No records found.</p>
                {% endif %}

                <a href="{{ path('app_article_new') }}">Create new</a>
            {% endblock %}
        </div>
    </div>
</div>

<!-- footer Start -->
<footer class="footer">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="footer-manu">
					<ul>
						<li><a href="about.html">About Us</a></li>
						<li><a href="contact.html">Contact us</a></li>
						<li><a href="service.html">How it works</a></li>
						<li><a href="faq.html">FAQ</a></li>
						<li><a href="pricing.html">Pricing</a></li>
					</ul>
				</div>
				<p class="copyright mb-0">Copyright <script>document.write(new Date().getFullYear())</script> &copy; Designed & Developed by <a
						href="http://www.themefisher.com">Themefisher</a>. All rights reserved.
					<br> Get More <a href="https://themefisher.com/free-bootstrap-templates/">Free Bootstrap
						Templates</a>
				</p>
			</div>
		</div>
	</div>
</footer>

<!--Scroll to top-->
<div id="scroll-to-top" class="scroll-to-top">
	<span class="icon ion-ios-arrow-up"></span>
</div>

<!-- Essential Scripts -->
<script src="plugins/jquery/jquery.min.js"></script>
<script src="plugins/bootstrap/bootstrap.min.js"></script>
<script src="plugins/slick/slick.min.js"></script>
<script src="plugins/magnific-popup/jquery.magnific-popup.min.js"></script>
<script src="plugins/shuffle/shuffle.min.js"></script>
<script src="plugins/SyoTimer/jquery.syotimer.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&libraries=places"></script>
<script src="plugins/google-map/map.js"></script>
<script src="js/script.js"></script>

</body>
</html>
